{% extends 'base.html' %}
{% block title %}Clubs{% endblock %}
{% block content %}
<h1 class="title">Clubs</h1>
<div class="columns is-multiline">
{% for club in clubs %}
  <div class="column is-half">
    <div class="box">
      <h2 class="subtitle"><a href="{% url 'clubs_events:club_detail' club.pk %}">{{ club.name }}</a></h2>
      <p>{{ club.description }}</p>
      {% if club.id in active_membership_ids %}
      <form method="post" action="{% url 'clubs_events:club_leave' club.pk %}">{% csrf_token %}<button class="button is-small">Leave</button></form>
      {% else %}
      <form method="post" action="{% url 'clubs_events:club_join' club.pk %}">{% csrf_token %}<button class="button is-small is-primary">Join</button></form>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
